h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.new-need {
    text-align: center;
}

ul {
    list-style-position: inside; 
    text-align: center;     
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}

.needs {
    border: 2.5px solid black;
    padding: 10px;
    margin: 10px auto;
    max-width: 300px;
    list-style-type: none;
}

.funding-menu {
    width: fit-content;
}

.needs li{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.5rem 0;
}

.needs li a{
    color: black;
}

.delete{
    width: fit-content;
}

.no-needs-message {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    margin: 0 auto;
    font-weight: bold;
    border: 2.5px solid black;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 300px;
}
    
button {
    background-color: black;
    color: white;
    padding: 6px;
    margin: 5px 0;
    margin-left: 5px;
    border: black;
    cursor: pointer;
    width: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.delete {
    width: 6%;
    border-radius: 5px;
    height: 25px;
    text-align: center;
}