<h2>Cupboard</h2>

<div class="new-need">
  <label for="new-need">New Need: </label>
  <input id="new-need" #needTitle placeholder="Title"/>
  <input id="new-need-description" #needDescription placeholder="Description"/>
  <input id="new-need-cost" #needCost type="number" placeholder="Cost"/>
  <input id="new-need-quantity" #needQuantity type="number" placeholder="Quantity"/>
  <button type="button" class="add-button" (click)="add(needTitle.value, needDescription.value, needCost.valueAsNumber, needQuantity.valueAsNumber); needTitle.value=''; needDescription.value=''; needCost.value=''; needQuantity.value=''" >Add need</button>
</div>

<div *ngIf="needs.length === 0" class="no-needs-message">No needs available to contribute to.</div>

<!-- Centered button container -->
<div class="button-container">
  <button type="button" id="btn-all" (click)="onClick()">{{buttonText}}</button>
  <button id="remove" type="button" class="remove-selected" title="Remove selected from basket" (click)="deleteMultiple()">Remove from Cupboard</button>
</div>

<ul *ngIf="needs.length > 0" class="needs">
  <li *ngFor="let need of needs">
    <a routerLink="/detail/{{need.id}}">
      <span class="badge">{{need.id}}</span> {{need.title}}
    </a>
    <button type="button" class="delete" title="delete need" (click)="delete(need)">x</button>
    <label><input type="checkbox" (click)="selectMultiple(need)">.</label>
  </li>
</ul>