h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background: black;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 50px;
}

div{
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #562b35;
    border-radius: 50px;
    height: 100px;
}




