<!-- <div class="needs-menu">
  <a *ngFor="let need of needs"
    routerLink="/detail/{{need.id}}">
    {{need.title}}
  </a>  
</div> -->
<h1>{{ user.username | uppercase}}</h1>

<div class="basket">
  <a routerLink="/helper/{{user.username}}/basket" (click)="getBasket()">
    Funding Basket
  </a>
</div>

<ul class="needs-menu">
  <li *ngFor="let need of needs">
    <a routerLink="/detail/{{need.id}}">
      <span class="badge">{{need.id}}</span> {{need.title}}
    </a>
    <button type="button" class="add" title="Add to basket"
      (click)="addNeedToBasket(need)">+</button>
  </li>
</ul>

<app-need-search></app-need-search>