<h1>{{ user.username }}</h1>

<div class="basket">
  <a routerLink="/helper/{{user.username}}/basket" (click)="getBasket()">
    Basket
  </a>
</div>

<app-need-search></app-need-search>

<div *ngIf="needs.length === 0" class="no-needs-message">
  No needs lmao?
</div>

<ul class="needs-menu">
  <li *ngFor="let need of needs">
    <a routerLink="/detail/{{need.id}}">
      <span class="badge">{{need.id}}</span> {{need.title}}
    </a>
    <button type="button" class="add" title="Add to basket"
      (click)="addNeedToBasket(need)">+</button>
  </li>
</ul>

<ul class="add-message">
  <label for="add-message-box">Add Message</label>
  <input #messageBox id="add-message-box"/>
  <button type="button" class="add" title="Add to message board"
      (click)="addMessage(messageBox.value); messageBox.value=''">+</button>
</ul>

<a href= "/login">
  <button>Logout</button>
</a>
