<h1>{{username}}'s Funding Basket</h1>

<div class="helper">
    <a routerLink="/helper/{{username}}">
      Back
    </a>
</div>

<p>Needs:</p>
<ul class="funding-menu">
    <li *ngFor="let need of fundingBasket">
      <a routerLink="/detail/{{need.id}}">
        <span class="badge">{{need.id}}</span> {{need.title}}
      </a>
      <button type="button" class="remove" title="Remove from basket"
        (click)="removeNeedFromBasket(need)">Remove</button>
      <label><input type="checkbox" (click)="selectMultiple(need)">.</label>
    </li>
</ul>

<button type="button" class="remove-selected"  title="Remove selected from basket" (click)="removeMultipleFromBasket()">Remove from basket</button>
<hr>
