<h1>{{username}}'s Funding Basket</h1>

<div class="helper">
    <a routerLink="/helper">
      Back
    </a>
</div>

<h3>Needs:</h3>
<p *ngIf="isEmpty('btn-all') && isEmpty('remove') ">Your funding basket is empty.</p>

<button type="button" id="btn-all" (click)="onClick()">{{buttonText}}</button>
<ul class="funding-menu" id="needs">
    <li *ngFor="let need of fundingBasket">
      <a routerLink="/detail/{{need.id}}">
        <span class="badge">{{need.id}}</span> {{need.title}}
      </a>
      <button type="button" class="remove" title="Remove from basket"
        (click)="removeNeedFromBasket(need)">Remove</button>
      <label><input type="checkbox" (click)="selectMultiple(need)">.</label>
    </li>
</ul>

<button id="remove" type="button" class="remove-selected" title="Remove selected from basket" (click)="removeMultipleFromBasket()">Remove from basket</button>
<hr>
