<div *ngIf="need">
  <h2>{{need.title | uppercase}} Details</h2>
  <div>id: {{need.id}}</div>
  <div>description: {{need.description}}</div>
  <div>cost: {{need.cost}}</div>
  <div>quantity: {{ need.quantity }}</div>
  <div>quantity funded: {{need.quantityFunded}}</div>
  <div *ngIf="isAdmin">
    <label for="need-title">Need title: </label>
    <input id="need-title" [(ngModel)]="need.title" placeholder="title">
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button *ngIf="isAdmin" type="button" (click)="save()">save</button>
</div>
