<div *ngIf="need">
  <h2>{{need.title | uppercase}} Details</h2>
  <div>id: {{need.id}}</div>
  <!--<div>
    <label for="need-id">ID: </label>
    <input id="need-id" [(ngModel)]="need.id" placeholder="id" [readonly]="!isAdmin">
  </div> -->

  <div *ngIf="isAdmin; else viewDescription">
    <label for="need-description">Description: </label>
    <input id="need-description" [(ngModel)]="need.description" placeholder="description">
  </div>
  <ng-template #viewDescription>
    <div>description: {{ need.description }}</div>
  </ng-template>

  <div *ngIf="isAdmin; else viewCost">
    <label for="need-cost">Cost: </label>
    <input id="need-cost" type="number" [(ngModel)]="need.cost" placeholder="cost">
  </div>
  <ng-template #viewCost>
    <div>cost: {{ need.cost }}</div>
  </ng-template>

  <div *ngIf="isAdmin; else viewQuantity">
    <label for="need-quantity">Quantity: </label>
    <input id="need-quantity" type="number" [(ngModel)]="need.quantity" placeholder="quantity">
  </div>
  <ng-template #viewQuantity>
    <div>quantity: {{ need.quantity }}</div>
  </ng-template>

  <div *ngIf="isAdmin; else viewQuantityFunded">
    <label for="need-quantity-funded">Quantity Funded: </label>
    <input id="need-quantity-funded" type="number" [(ngModel)]="need.quantityFunded" placeholder="quantity funded">
  </div>
  <ng-template #viewQuantityFunded>
    <div>quantity funded: {{ need.quantityFunded }}</div>
  </ng-template>

  <div *ngIf="isAdmin">
    <label for="need-title">Need title: </label>
    <input id="need-title" [(ngModel)]="need.title" placeholder="title">
  </div>

  <button type="button" (click)="goBack()">go back</button>
  <button *ngIf="isAdmin" type="button" (click)="save()">save</button>
</div>
