<h2>Login</h2>
<form class="login-card" [formGroup]="loginForm" (ngSubmit)="login()">
  <label for="username"> Username</label>
  <input id="username"
         class="form-control"
         [ngClass]="{
  'is-invalid':
  loginForm.get('username')!.invalid &&
  loginForm.get('username')!.touched
  }" formControlName="username" />

  <span class="invalid-feedback"> Username cannot be left blank.</span>

  <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid">
    Login
  </button>
</form>
