/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

.eyes{
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  font-size: 4em;
}

.eye1, .eye2{
  animation: shifty-eyes 2.5s 4s infinite; /*added something if the user stays on the page for too long */
}

.eye1{
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  text-align: center;
}

@keyframes shifty-eyes {
  0% {text-align: center;}
  25% {text-align: left;}
  50% {text-align: center;}
  75% {text-align: right;}
  100% {text-align: center;}
}

.eye2{
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  text-align: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; 
  
}

.form-control{
  background-color: coral;
}

/* Set a style for all buttons */
button {
  background-color: coral;
  color: white;
  padding: 6px;
  margin-left: 5px;
  border: black;
  cursor: pointer;
  width: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 5px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: coral;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

::placeholder{
  color: white;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

h2 {
  text-align: center;
}

.input-group {
  text-align: center;
}

.status-message {
  text-align: center;
  margin-top: -180px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

body {
  background-color: #078a5a;
}